.about-img {
  padding: 2rem 1rem;

  @include desktop {
    padding: 2rem;
  }

  .img {
    max-width: 100%;
    border-radius: 100%;
  }
}

.about-text {
  padding: 3rem 1rem 2rem;

  @include desktop {
    padding: 4rem 2rem 2rem;
  }
}

.nobreak {
  white-space: nowrap;
}