.location-section {
  margin-bottom: 2rem;
}

.map-wrapper {
  height: max-content;
  margin-bottom: 1rem;

  @include desktop {
    margin: 0 2rem 2rem 2rem;
  }

  .map {
    height: 439px;
    width: 100%;
  }
}

.location-title {
  position: relative;
  padding: 1rem 0 1rem 1rem;
  line-height: 2rem;
  color: $color-initial;
  background-color: $color-primary;

  @include desktop {
    margin: 0 2rem;
  }

}

.location-img {
  max-width: 100%;

  img {
    width: 100%;
  }

  @include desktop {
    margin: 0 2rem;
  }
}
