
.offer-section {
  vertical-align: middle;
  line-height: 2rem;
  color: $color-dark;
  position: relative;
  padding: 1rem 0 1rem 1rem;

  @include desktop{
    margin: 0 2rem;
  }
}

.offer-img {
  max-width: 100%;
  width: 100%;

  img {
    width: 100%;
  }

  @include desktop{
    margin: 0 2rem;
    width: auto;
  }
}

.offer-text {
  padding: 2rem 1rem;
  width: 100%;

  @include desktop{
    max-width: 600px;
    padding: 0 2rem;
    margin-left: 1rem;
  }
}

.offer-table {
  margin-bottom: 3rem;
  width: 100%;

  @include desktop{
    max-width: 600px;
    padding: 2rem;
    margin-left: 1rem;
  }

  th{
    color: $color-initial;
    background-color: $color-secondary;
  }

  tbody {
    background-color: $color-background;
  }
}

.circle {
    display: none;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    color: $color-initial;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    text-align: center;
    right: 0rem;
    top: -2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    overflow: hidden;

    @include desktop {
      display: block;
    }
}
