.price-table {
  margin: 0 1rem;
  @include desktop {
    margin: 0 3rem;
    position: relative;
  }
}

.container-flex {
  @extend .container;
  display: flex;
}

.card {
  height: 18rem;
  background-color: $color-secondary;
  color: $color-initial;
  box-shadow: 3px 9px 13px 0 rgba(163,163,163,0.55);
  margin: 0 1rem 5rem 2rem;
  border-radius: 15px;
  text-align: center;
  @include desktop {
    border-style: none;

    > p {
      display: none;
    }

    // &.right {
    //   border-bottom-right-radius: 15px;
    //   border-right: solid 1px $color-dark;
    // }

    // &.left {
    //   border-bottom-left-radius: 15px;
    //   border-left: solid 1px $color-dark;
    // }
  }

  p {
    padding-top: 5rem;
  }

  .card-title {
    position: relative;
    height: 9rem;
    // color: $color-initial;
    // background-color: $color-dark;
    border-radius: 14px 14px 0 0;
    text-align: center;

    h4 {
      padding-top: 2rem;
    }

    .card-circle {
      border-radius: 100%;
      //width: 9rem;
      height: 9rem;
      //background: $color-initial;
      //color: $color-dark;
      font-weight: 600;
      z-index: 1;
      text-align: center;
      position: absolute;
      bottom: -4.5rem;
      line-height: 1.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 1.25rem;

      p {
        padding-top: 3rem;
      }
    }
  }
}

.price-text {
  margin: 0 1rem;
  padding-bottom: 2rem;

  ul {
    margin: 0.5rem 0 1rem 0;
  }

  @include desktop{
    margin: 0 2rem;
  }
}
