.price-table {
  margin: 0 1rem;
  @include desktop {
    margin: 0 3rem;
    position: relative;
  }
}

.container-flex {
  @extend .container;
  display: flex;
}

.card {
  height: 18rem;
  background-color: $color-initial;
  border: solid 1px $color-quinary;
  margin-bottom: 5rem;
  border-radius: 15px;
  text-align: center;
  @include desktop {
    border-style: none;
    border-right: solid 1px #FAFAFA;
    border-bottom: solid 1px $color-quinary;
    border-radius: 15px 15px 0 0;

    > p {
      display: none;
    }

    &.right {
      border-bottom-right-radius: 15px;
      border-right: solid 1px $color-quinary;
    }

    &.left {
      border-bottom-left-radius: 15px;
      border-left: solid 1px $color-quinary;
    }
  }

  p {
    padding-top: 5rem;
  }

  .card-title {
    position: relative;
    height: 9rem;
    color: $color-initial;
    background-color: $color-quinary;
    border-radius: 14px 14px 0 0;
    text-align: center;

    h4 {
      padding-top: 1rem;
    }

    .card-circle {
      border-radius: 100%;
      width: 9rem;
      height: 9rem;
      background: $color-quaternary;
      color: $color-initial;
      font-weight: 500;
      z-index: 1;
      text-align: center;
      position: absolute;
      bottom: -4.5rem;
      line-height: 1.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 1.2rem;

      p {
        padding-top: 3rem;
      }
    }
  }
}

.price-text {
  margin: 0 1rem;
  padding-bottom: 2rem;

  ul {
    margin: 0.5rem 0 1rem 0;
  }

  @include desktop{
    margin: 0 2rem;
  }
}
