.start {
  background: url("assets/img/web/fitgym-high.jpg") no-repeat center center fixed;
  min-height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-wrap: wrap;
  background-attachment: scroll;

  @include desktop {
    background: url("assets/img/web/fitgym-high.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  }


  .start-text {
    color: $color-initial;
    text-align: left;
    //text-shadow: 0 1px 2px rgba(0 , 0, 0, 0.3), 0 1px 7px rgba(0 , 0, 0, 0.1), 0 1px 20px rgba(0 , 0, 0, 0.3);
    padding: 20px;

    @include desktop {
      margin-bottom: 40px;
      padding-right: 20px;
      max-width: 500px;
      padding-left: 50px;
      //background-color: #147BC9;
      padding: 20px 50px;
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: 0.5rem;

      @include desktop {
        font-size: 3rem;
      }
    }

    h2 {
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      line-height: 1.5;
      font-weight: 400;
    }
  }
}
