$color-initial: #fff !default
$color-dark: #000 !default
$color-primary: #009688 !default
$color-secondary: #00BCD4 !default
$color-tertiary: #2196F3 !default
$color-quaternary: #EC407A !default
$color-quinary: #262626 !default
$color-senary: #607d8b !default
