$desktop-width: 768px;

@mixin desktop {
  @media (min-width: #{$desktop-width + 1}) {
    @content;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  width: 100%;
  flex: 1;
}

.desktop-wrapper {
  max-width: 960px;
  width: 100%;
  margin:0 auto;
  position: relative;
  flex: 1;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.row-reverse {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  @include desktop{
    flex-direction: row;
  }

  .column {
    display: block;
    flex: 0 1 auto;
    max-width: 100%;
    width: 100%;

    &.column-33 {
      flex: 0 0 33.3333%;
    }

    &.column-40 {
      flex: 0 0 40%;
    }
  }
}

.row {
  @extend .row-reverse;
  flex-direction: column;

  @include desktop{
    flex-direction: row;
  }
}

.container-max {
  @extend .container;
  max-width: 100%;
}
