table {
  width: 100%;
  border-spacing: 0;

  tr {
    text-align: left;

    th {
      padding: 1rem;
      
      font-feature-settings: "tnum";
    }

    td {
      border-bottom: solid 0.1rem rgba(0, 0, 0, 0.5);
      padding: 0.75rem 1rem;
      font-feature-settings: "tnum";

      &.no-border {
        border-bottom: none;
      }
    }

    .center {
      text-align: center;
    }

  }
}
