table {
  width: 100%;
  border-spacing: 0;
  max-width: 600px;


  tr {
    text-align: left;

    th {
      padding: 1rem;
      border-bottom: solid 0.1rem #707070;
      font-feature-settings: "tnum";
    }

    td {
      border-bottom: solid 0.1rem rgba(0, 0, 0, 0.5);
      padding: 0.75rem 1rem;
      font-feature-settings: "tnum";
    }

    .center {
      text-align: center;
    }

  }
}
